.dms-check{
  .page {
    width: 210mm;
    height: 297mm;
    //height: auto;
    padding: 15mm;
    margin: auto;
    border: 0;
    border-radius: 0;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
    background-size: contain;
    font-size: 12px;
    align-items: flex-start;
    justify-content: center;
    color: #000000;
  }
  .print-btn{
    position: fixed;
    bottom: 10mm;
    right: 10mm;
    cursor: pointer;
    border: 0 !important;
    background-color: #FFFFFF !important;
    border-radius: 36px;
  }
  .print-btn:hover{
  }
  .print-btn img{
    width: 40px;
  }

  .verticalTableHeader {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg);
    height: 250px;
    font-weight: normal;
  }
}

