.module-page{
  margin-top: 30px;
  .logo-light, .logo-dark{
    width:300px;
    margin: 30px auto;
  }
  .module-navigation{
    .card {
      border-radius: 0.5rem;
      color: $black-second-color;
      display: flex;
      flex-direction: column;
      min-width: 1px;
      overflow-wrap: break-word;
      position: relative;
      font-size: 1.1rem;
      &:hover{
        //background: lighten(var(--ant-primary-color), 40%);
      //background:hsl(var(--ant-primary-color), 70%, 60%);
        color: $primary-color ;
        //border-bottom: 5px solid lighten($primary-color, 30%);
        .svg-icon{
          [fill]:not([fill="none"])  {
            fill:  $primary-color;
          }
        }


      }
      .module-menus{
        color: $gray-color;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-top: 5px;
        line-height: 20px;
        margin-bottom: 0;
      }
      .svg-icon{

        width: 30px;
        height: 30px;
        margin-bottom: 10px;
        [fill]:not([fill="none"])  {
          //fill:  lighten(var(--ant-primary-color), 20%);
          fill: var(--ant-primary-color)
        }
      }
      i {
        color: $primary-color;
      }
    }

  }

}
.dark {
  .module-page {
    .module-navigation {
      .card {
        color: $white;
        &:hover{
          //background: darken(var(--ant-primary-color),50%);
          //background: hsl(var(--ant-primary-color), 70%, 20%);
          color: $primary-color ;

          .svg-icon{
            [fill]:not([fill="none"])  {
              fill:  $primary-color;
            }
          }
        }
      }
    }
  }

}
