/* General */
$fontSize:14px;
$borderRadius:12px;
$transitionDuration:.2s;
$maskBg:rgba(0, 0, 0, 0.4);

//background-colors
$body-background: #FBFDFF;

:root {
  --primary-color:#3471f6;
  --ant-primary-color:#3471f6;
}

//colors
$primary-color: var(--ant-primary-color);
$ag-primary-color: var(--ant-primary-color);
$second-color: #F44B87;
$black-color: #151617;
$black-second-color: #343943;
$gray-color: #A1A5B7;
$gray-second-color: #D8DDE4;
$white: #fff;


$dark-deactive-font-color: rgba(255, 255, 255, 0.65);
$dark-active-font-color: rgba(255, 255, 255, 0.85);
